.cart-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.empty-cart-img {
  width: 48px;
}

.cart-empty-text {
  font-family: 'Roboto';
  font-size: 14px;
}

.cart-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.cart-summary-heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #191919;
  text-align: center;
  margin-top: 10px;
}

.cart-summary-text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 4px;
  text-align: center;
}

.cart-summary-btn {
  background-color: #088c03;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

.cart-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.items-heading {
  font-family: 'Roboto';
  font-size: 24px;
  align-self: flex-start;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .items-heading {
    display: none;
  }
}

.mobile-items-heading {
  font-family: 'Roboto';
  font-size: 24px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-items-heading {
    display: none;
  }
}

.cart-container {
  width: 90%;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  min-height: 400px;
}

.cart-list {
  list-style-type: none;
  padding: 20px;
}
