.cart-checkout-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.price-total {
  font-family: 'Roboto';
  font-size: 16px;
}

.checkout-btn {
  background-color: #088c03;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 16px;
}
